@mixin flex {
    display: flex;
}
$font-family: "Montserrat";
.authorization-wrapper {
    width: 100%;
    @include flex;
    justify-content: center;
    align-items: center;
}
.authorization-wrapper_main {
    width: 26.5rem;
    height: 54.25rem;
    @include flex;
    flex-direction: column;
    align-items: center;
    background: #1d283a;
    left: 3rem;
}
.authorization__form-wrapper {
    @include flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 26.5rem;
    margin-top: -11rem;
    margin-left: 4px;
}
.authorization-form__flex {
    @include flex;
    justify-content: space-between;
    align-items: center;
}
.authorization__page {
    @include flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authorization__form {
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form__title {
        color: white;
        width: 15.9rem;
        height: 5.25rem;
        margin-top: 10px;
        position: relative;
        left: -2.8rem;
        font-family: $font-family;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 5.25rem;
        letter-spacing: 0.03em;
        text-align: left;
        margin-bottom: 20px;
    }

    .authorization-form__details {
        @include flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
    }

    .authorization-form__label {
        margin-bottom: 10px;
        color: white;
        font-family: $font-family;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    .authorization-form__input {
        padding: 10px;
        color: rgba(199, 199, 199, 0.705);
        font-size: 1rem;
        width: 100%;
        background-color: transparent !important;
        font-family: $font-family;
    }
    .authorization-form__input[type="text"],
    .authorization-form__input[type="password"] {
        background-color: transparent !important;
    }
    /* .authorization-form__input:hover,
    :focus {
        border: 1px solid rgb(1, 1, 11);
    } */

    .authorization-form__submit {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(23, 39, 87);
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 60%;
    }
}
.warning {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.additional-info_button {
    width: 300px;
    height: 19px;
    margin-top: -90px;
    margin-left: 44px;
    font-weight: 400;
    font-size: 12px;
    color: #f1f2f1;
    font-family: $font-family;

    span {
        color: #7faaf0;
    }
}

/* @media (min-width: 768px) and (max-width: 1023px) {
    .authorization__form {
        .authorization-form__label {
            font-size: 20px;
        }
        .authorization-form__input {
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .authorization__form {
        padding: 60px;
        .form__title {
            font-size: 35px;
        }
        .authorization-form__details {
            width: 115%;
        }
        .authorization-form__label {
            font-size: 20px;
        }
        .authorization-form__submit {
            width: 60%;
        }
    }
} */
