@mixin flex {
    display: flex;
}
$font-family: "Montserrat";

.registration__page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.registration__page {
    @include flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration__form {
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form__title {
        color: white;
        width: 23rem;
        height: 5.25rem;
        margin-top: 100px;
        position: relative;
        left: --1rem;
        font-family: $font-family;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 5.25rem;
        letter-spacing: 0.03em;
        text-align: left;
        margin-bottom: 20px;
    }

    .registration-form__details {
        @include flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
    }
    .registration-form__flex {
        @include flex;
        align-items: center;
        justify-content: space-between;
    }
    .registration-form__label {
        margin-bottom: 10px;
        color: white;
        font-family: $font-family;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    .registration-form__input {
        padding: 10px;
        color: rgba(199, 199, 199, 0.705);
        font-size: 1rem;
        width: 100%;
        background-color: transparent !important;
        font-family: $font-family;
    }
    .registration-form__input[type="text"],
    .registration-form__input[type="password"] {
        background-color: transparent !important;
    }
    /* .registration-form__input:hover,
    :focus {
        border: 1px solid rgb(1, 1, 11);
    } */

    .registration-form__submit {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(23, 39, 87);
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 60%;
    }
}
.warning {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.additional-info {
    width: 200px;
    height: 19px;
    margin-top: 50px;
    margin-left: 44px;
    font-weight: 400;
    font-size: 12px;
    color: #f1f2f1;
    font-family: $font-family;

    span {
        color: #7faaf0;
    }
}
.toast-error {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 9999;
}
/* @media (min-width: 768px) and (max-width: 1023px) {
    .registration__form {
        .registration-form__label {
            font-size: 20px;
        }
        .registration-form__input {
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .registration__form {
        padding: 60px;
        .form__title {
            font-size: 35px;
        }
        .registration-form__details {
            width: 115%;
        }
        .registration-form__label {
            font-size: 20px;
        }
        .registration-form__submit {
            width: 60%;
        }
    }
} */
